@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f2f2f2;
}

#navbar{
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 1px;
    width: 100%;
    z-index: 100;
  }

#navbar a{
    color: #ffffff;
    text-decoration: none;
}

#navbar h3{
    padding-left: 50px;
}

#workoutlist{
  border-radius: 40px;
  background-color: bisque;
  padding: 40px;
  margin: 20px;
  width:400px;
}

#workoutform h3{

}

#workoutform{
  border-radius: 40px;
  background-color: bisque;
  padding: 40px;
  margin: 20px;
  width:400px;
}

#workoutform input{
  margin: 10px;
  padding: 10px;
  width: 280px;
  border-radius: 10px;
}

#workoutform button{
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}